

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.headshot img {
    width: 150px;
    margin-right: 20px;
}

.info-container {
    display: flex;
    align-items: center;
}
.about-info {
    display: flex;
    align-items: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large

}