@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    background-color: rgb(252, 245, 236)
}

.my-name {
  font-family: 'Allura', cursive;
  font-size: 50px;
  color: rgb(138, 89, 55);
}

.nav-item {
    margin-right: 20px;
    color: rgb(101, 67, 34);
    font-weight: bold;
    font-size: large;
}

.nav-item:hover{
    color: black;
}

.nav-link.active {
    color: rgb(138, 89, 55) !important;
}
