header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    background-color: rgb(252, 245, 236);
    margin-bottom: 20px;
}

h1 {
    font-family: cursive;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgb(12, 2, 2);
}

.nav-item a {
    margin-right: 20px;
    color: rgb(59, 51, 31);
    font-weight: bold;
    font-size: large;
}

.nav-item a:hover{
    color: red;
}

.nav-link.active {
    color: rgb(56, 52, 43) !important;
}
